<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to image_tag("tree.png"), root_path, class: "logo" %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%=link_to "Home", root_path%></li>
        <li class="nav-link"><%= link_to "Profile", user_path(current_user)%></li>
        <li class="nav-link"><%=link_to "New Event", new_event_path%></li>
        <li class="nav-link more"><a href="javascript:void(0)">Activities</a>
          <ul class="submenu">
            <% all_activities.each do |activity| %>
              <li><%=link_to "#{activity.name}", activity_path(activity)%></li>
            <%end%>
          </ul>
        </li>
        <li class="nav-link"><%=link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
      </ul>
        </li>
      </ul>
    </nav>
    <% if current_page?(controller: 'events') || current_page?(root_path) %>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <%= search_form_for @q do |f| %>
            <%= f.search_field :address_cont, placeholder: 'search location', class: "button" %>
            <button type="submit">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
            </button>
          <%end%>
        </form>
      </div>
      <%elsif current_page?(controller: 'events', action: 'new')%>
      <%elsif current_page?(controller: 'users', action: 'show')%>
        <div class="navigation-tools">
          <div class="modalOpeners">
            <label for="modal-4">
              <div class="modal-trigger button activity_modal_open left"> Activities to try</div>
            </label>
            <label for="modal-5">
              <div class="modal-trigger button activity_modal_open left"> Activities you like </div>
            </label>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</header>
